<div class="card" [style]="{'order': cardInfo.stepOrder}" [ngClass]="{'step-open': cardInfo.step === stepOpen && cardStatus === 'closed'}">
  <div class="card-contents {{cardStatus}}" >
    <div class="card-top">
      <div class="card-progress">
        <progress [value]="cardCompletion['step' + cardInfo.stepOrder]" [max]="cardInfo.outof"></progress>
      </div>
      <div class="card-step-text">
        <span>STEP {{cardInfo.stepOrder}}</span>
      </div>
      <div class="card-step-title">
        <span>{{cardInfo.title}}</span>
      </div>
      <div class="card-description">
        <span>{{cardInfo.description}}</span>
      </div>
    </div>
    <div class="card-status-button" [ngSwitch]="complete === true" (click)="completeCard(cardInfo.step)">
      <ng-template [ngSwitchCase]="false">
          <span name="text">COMPLETE</span><span class="icofont-long-arrow-right  icofont-2x"></span>
      </ng-template>
      <ng-template [ngSwitchCase]="true">
          <span>Done</span>
      </ng-template>
    </div>
  </div>
</div>
