<div class="card" [style]="{'order': cardInfo.step}">
  <div class="card-contents {{cardStatus}}" [ngClass]="{'step-open': cardInfo.step === stepOpen}">
    <div class="card-top">
      <div class="card-progress">
        <progress [value]="cardCompletion['step' + cardInfo.step]" [max]="cardInfo.outof"></progress>
      </div>
      <div class="card-step-text">
        <span>STEP {{cardInfo.step}}</span>
      </div>
      <div class="card-step-title">
        <h1>{{cardInfo.title}}</h1>
      </div>
      <div class="card-description">
        <span>{{cardInfo.description}}</span>
      </div>
    </div>
    <div class="card-status-button" [ngSwitch]="complete === true">
      <ng-template [ngSwitchCase]="false">
        <div (click)="completeCard(cardInfo.step)">
          <span>Complete</span><span class="icofont-long-arrow-right"></span>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="true">
        <div (click)="completeCard(cardInfo.step)">
          <span>Done</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
