.thanks-content {
  align-items: center;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  .thanks-message {
    width: 100%;
    height:auto;
    padding: 10px;
    text-align: center;
  }
}

.button {
  background-color: #E1FAFF;
  margin: 10px 0px 0 17px;
  outline: none;
  text-decoration: none;
  border-radius: 15px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 120px;
  opacity: 1;
  border: 1px solid rgba(124, 202, 120, 0.6);

  span {
    color: rgba(26, 43, 25, 0.8);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
}
