
.welcome-contents {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.welcome-text {
  text-align: center;
  width: 430px;
  color: var(--welcome-text);

  p {
    font-size: 1.5rem;
    color: var(--red);
    font-weight: 400;
    margin: 10px 0;
    color: inherit;
  }

  span {
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Heebo';
    font-stretch: ultra-expanded;
    color: inherit;
  }
}


.welcome-text-header {
  height: 100px;
  flex: 1 100%;
  text-align: center;

}

.welcome-text-content {
  justify-content: center;
  flex: 3 100%;
  font-size: 24px;

}

.welcome-text-button {
  height: 100px;
  width: 50%;
  padding: 100px 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: var(--welcome-text-button);

  button {
    height: 65px;
    width: 142px;
  }
}


