.contents {
  height: calc(100% - 150px);
  width: 100%;
}

.icofont-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}
