.full-step-title {
  width: 100%;
  height: 20%;
  text-align: center;
}

.card-holder {
  width: 75%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

.open {
  .card {
    height: auto;
    flex: 1;
    border: 1px black solid;



    progress {
      width: 100%;
      height: 30px;
    }
  }

  .card-contents {

    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .card-top {
    display: flex;
    flex-direction: column;
    width: 240px;
    height:100%;
    padding: 50px 40px 0px 40px;
  }

  .card-progress {
    flex: 0;
    order:2;
    width: 100%;
    height: 30px;
    padding-bottom: 40px;
  }
  .card-step-text {
    flex: 0;
    order:1;
    width:170px;
    height: 30px
  }
  .card-step-title {
    flex: 0;
    order:3;
    width:150px;
    heifht: 30px
  }
  .card-description {
    flex: 0;
    order:4;
    width:100%;
    height:30px;
    padding-bottom: 50px;
  }

  .card-status-button {
    width: 100%;
    height: 60px;
    background-color: #8c8c8c;
  }
}

.closed {
  .card {
    height: auto;
    flex: 1;
    border: 1px black solid;

    progress {
      width: 100%;
      height: 30px;
    }
  }

  .card-contents {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .card-top {
    width: 240px;
    height:100%;
    padding: 50px 40px 0px 40px;
  }

  .card-progress {
    width: 100%;
    height: 30px;
    padding-bottom: 40px;
  }
  .card-step-text {
    width:170px;
  }
  .card-step-title {
    width:150px;
  }
  .card-description {
    width:100%;
    padding-bottom: 50px;
  }

  .card-status-button {
    width: 100%;
    height: 60px;
    background-color: #8c8c8c;
  }

}
