.cv-contents {
  height: 100%;
  width: 100%;
}

.cv-contents-form {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.form-box {
  height: 100%;
  width: 50%;
  border: 1px solid black;

  .form-box-item {
    width:100%;
    height: 50px;
  }
}

