.contents {
  width: 100%;
  flex: 1;
}

.icofont-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.style-black {
  color: var(--white);
}

.thanks-black,
.welcome-black,
.cv-black {
  background-attachment: fixed;
  background-size: 100% 100%
}

.thanks-black {
  background-image: var(--thanks-background);

}

.welcome-black {
  background-image: var(--welcome-background);
}

.cv-black {
  background-image: var(--cv-background);
}

.style-white {
  background-color: var(--white);
  color: var(--black);
}


.btn {
  background-color: var(--red);
  outline: none;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  border: 0;
  border-radius: 2px;
  color: inherit;
}
