.contents {
  width: 100%;
  flex: 1;
}

.icofont-rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.page {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  height:100%;
  width:100%;
}
.style-black{
  color: $white;
}

.thanks-black,
.welcome-black,
.cv-black,
.thanks-white,
.welcome-white,
.cv-white {
  background-attachment: fixed;
  background-size: 100% 100%
}
.thanks-black{
  background-image: url("/../../../assets/images/thank_background.png");

}

.welcome-black{
  background-image: url("/../../../assets/images/welcome_background.png");
}

.cv-black{
  background-image: url("/../../../assets/images/Black_background.png");
}

.thanks-white{
  background-image: url("/../../../assets/images/thank_background_white.png");
}

.welcome-white{
  background-image: url("/../../../assets/images/welcome_background_white.png");
}

.cv-white{
  background-image: url("/../../../assets/images/White_background.png");
}

.style-white{
  background-color: white;
  color: black;
}


.btn {
  background-color: $red;
  outline: none;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  border: 0;
  border-radius: 2px;
  color: inherit;
}
