footer {
  height: 70px;
  width: 100%;
  flex: 0;
  color: $light;
}

.footer-content {
  height: 100%;
  width: 100%;
  position: relative;

  .footer-icons {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-icon-moon {
      width: 40px;
      height: 100%;
    }

    .footer-icon-sun {
      width: 40px;
      height: 100%;
    }

  }

  .footer-spacer {
    height: 100%;
    width: auto;
  }

  .black::after {
    content: '\2022';
    font-size: 33px;
    color: $red;
    position: absolute;
    left: 56px;
    top: -19px;
  }

  .white::after {
    content: '\2022';
    font-size: 33px;
    color: $red;
    position: absolute;
    left: 107px;
    top: -19px;
  }

}

